.comments-block {
    font-family: "Mulish-Regular";
    background-image: url("common_decoration.svg");
    background-repeat: no-repeat;
    background-position: bottom 30% left 13%;
}

.comments-block .comments-card {
    border-radius: 24px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 25px;
    margin-left: 15%;
    margin-right: 15%;
    background-image: 
        url("common_decoration.svg"),
        linear-gradient(
            45deg,
            rgb(103, 195, 243) 0%,
            rgb(90, 152, 242) 100%
        );
    background-repeat: no-repeat, no-repeat;
    background-position: right -5% top, center center;
}

.comments-card .comments-title {
    font-family: "Mulish-Bold";
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 48px;
    white-space: nowrap;
    align-self: center;
}

.comments-card .comments-separator-line {
    background-color: #ffffff;
    border-radius: 6px;
    height: 2px;
    width: 56px;
    align-self: center;
}

.comments-card .comments-row {
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin-top: 64px;
    align-items: center;
    justify-content: space-between;
}

.comments-card .comment-author {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.comments-card .comment-author .comment-author-avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: none;
}

.comments-card .comment-author .comment-who {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comments-card .comment-author .comment-who .comment-author-name {
    font-family: "Mulish-Bold";
    color: #ffffff;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 48px;
    white-space: nowrap;
}

.comments-card .comment-author .comment-who .comment-author-position {
    color: #ffffffd9;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 48px;
    white-space: nowrap;
}

.comments-card .comment-text {
    color: #ffffffe6;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 30px;
    text-align: start;
}

.comments-block .comments-arrow {
    margin-top: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comments-block .comments-arrow .comment-arrow-enabled {
    opacity: 1;
    margin-left: 64px;
    margin-right: 64px;
}

.comments-block .comments-arrow .comment-arrow-disabled {
    opacity: 0.5;
    margin-left: 64px;
    margin-right: 64px;
}

.comments-block .comment-point-unselected {
    width: 10px;
    height: 10px;
    background-color: #5B9BF3;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
    transition: all 500ms;
    margin-left: 10px;
    margin-right: 10px;
}

.comments-block .comment-point-unselected:hover {
    opacity: 1;
}

.comments-block .comment-point-selected {
    width: 10px;
    height: 10px;
    background-color: #5B9BF3;
    border-radius: 50%;
    display: inline-block;
    opacity: 1;
    margin-left: 10px;
    margin-right: 10px;
}