.leading-providers-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 120px;
    width: 80%;
}

.leading-providers-block .leading-providers-content {
    align-self: center;
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: flex-start;
}

.leading-providers-content .leading-providers-title {
    font-family: "Mulish-Bold";
    color: #000000;
    font-size: 36px;
    font-weight: bold;
}

.leading-providers-content .leading-providers-separator-line {
    background-color: #000000;
    border-radius: 6px;
    height: 2px;
    width: 56px;
    margin-top: 26px;
}

.leading-providers-content .leading-providers-description {
    font-family: "Mulish-Light";
    color: #7c7987;
    font-size: 18px;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 64px;
}

.leading-providers-block .leading-providers-image {
    width: 700px;
    height: auto;
}