.common-button {
    font-family: "Mulish-Bold", Helvetica;
    transition: all 500ms;
    border-radius: 55px;
    font-size: 18px;
}

.filled-button {
    background-color: #458FF6;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    border-radius: 55px;
    font-family: "Mulish-Bold", Helvetica;
    transition: all 500ms;
    border-radius: 55px;
    font-size: 18px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 42px;
    padding-right: 42px;
}

.filled-button:focus {
    outline: 0;
}

.filled-button:hover {
    color: #458FF6;
    background-color: #fff;
    border: 1px solid #458FF6
}

.outlined-button {
    border: 1.4px solid;
    border-color: #458ff6;
    color: #458ff6;
    font-family: "Mulish-Bold", Helvetica;
    transition: all 500ms;
    border-radius: 55px;
    font-size: 18px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 72px;
    padding-right: 72px;
}

.outlined-button:focus {
    outline: 0;
}

.outlined-button:hover {
    background-color: #458FF6;
    color: #fff
}