.service-card {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 40px 40px 50px rgba(229,233,246,0.8);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 54px;
    padding-bottom: 54px;
    text-align: start;
}

.service-card .image {
    width: 90px;
    float: initial;
}

.service-card .title {
    font-family: "Mulish-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 56px;
    white-space: nowrap;
}

.service-card .subtitle {
    color: #7c7987;
    font-family: "Mulish-Light", Helvetica;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 28px;
}
